// //////// STORMGLASS //////// //

pp-stormglass
  pp-header 
    p.header-spot bud-bud
  pp-firstrow
    pp-watertemp
      p.watertemp-value
      p.watertemp-label water t°
    pp-winddir
      svg.winddir-icon(
        xmlns='http://www.w3.org/2000/svg',
        width='24',
        height='24',
        fill='none',
        stroke='var(--main)',
        stroke-width='3',
        stroke-linecap='round',
        stroke-linejoin='round'
      )
        path(d='M12 5v14M19 12l-7 7-7-7')
      p.winddir-label wind dir.
    pp-windspeed
      p.windspeed-value
      p.windspeed-label wind spd.
  pp-linebreak
  pp-secondrow
    pp-waveheight
      p.waveheight-value
      p.waveheight-label wave hgt.
    pp-waveperiod
      p.waveperiod-value
      p.waveperiod-label wave per.
    pp-wavedir
      svg.wavedir-icon(
        xmlns='http://www.w3.org/2000/svg',
        width='24',
        height='24',
        fill='none',
        stroke='var(--main)',
        stroke-width='3',
        stroke-linecap='round',
        stroke-linejoin='round'
      )
        path(d='M12 5v14M19 12l-7 7-7-7')
      p.wavedir-label wave dir.

pp-stormglass-loader-container
  pp-loader
    pp-loader-dot
    pp-loader-dot
    pp-loader-dot
    pp-loader-dot

pp-stormglass-error-container
  p.error-notification API error
  p.stormglass-error-code
